<div class="container d-flex justify-content-center my-5">
  <div class="card text-center shadow p-4 d-flex flex-column" style="width: 80rem; min-height: 20rem;">
    <h3 class="card-title mb-4 text-danger">!Partida Cancelada¡</h3>
    <h5 class="card-subtitle mb-3 text-muted">Intenta unirte a una nueva partida</h5>
    <div class="d-flex flex-row justify-content-center mt-5">
      <%= button_to "Unirte a una nueva partida", new_kahoot_participant_path, method: :get, class: "btn btn-primary btn-lg mx-2" %>
    </div>
  </div>
</div>
