  <div id="kahoot_channel_alert" class="alert alert-success alert-dismissible fade" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% if @kahoot_game.waiting? %>
  <%= render 'waiting' %>
<% elsif @kahoot_game.in_progress? %>
  <%= render 'in_progress'%>
<% elsif @kahoot_game.finished? %>

<% elsif @kahoot_game.canceled? %>
  <%= render 'canceled' %>
<% end %>

<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    initKahootGameChannel(<%= @kahoot_game.id %>);
  });
</script>

