
 .container {
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  text-align: center; /* Alinea el texto dentro del contenedor al centro */
}

.container a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-logo-image {
  max-height: 50px;
  max-width: auto;
}

.navbar-logo a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem; 
  flex-grow: 1;
  justify-content: center;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.navbar-profile {
  margin-left: auto;
}

.navbar-profile a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error_explanation ul {
  list-style-type: none;
}

#flotating-alert-upload-questions {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; 
  width: 80%;
  max-width: 600px; /* ver lo responsive*/
  margin: 10px;
}
