
 .container {
  margin: 0 auto;
}

.container a {
  text-decoration: none;
}

.navbar-logo-image {
  max-height: 50px;
  max-width: auto;
}

.navbar-profile {
  margin-left: auto;
}

.navbar-profile a {
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

.navbar-nav .dropdown-item.text-danger {
  font-weight: bold;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; /* Color de fondo */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el mouse */
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error_explanation ul {
  list-style-type: none;
}

#flotating-alert-upload-questions {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; 
  width: 80%;
  max-width: 600px; /* ver lo responsive*/
  margin: 10px;
}
